:root{
    --blue1:#3282b8 ;
    --white:#f2f6f5;
    --blue:#0779e4;
    --black: #1b262c;
}
body {
    margin: 0px;
    background-color: var(--white);
    font-family: 'Cinzel', serif;
}
.header{
    width: 100%;
    height: 9rem;
    background-image: linear-gradient(var(--blue),var(--white));
    display: flex;
    justify-content: space-between;
}
.box_error {
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
}
.error_img {
    width: 15rem;
    height: 15rem;
    border-radius: 2rem;
    margin-top: 1.5rem;
    opacity: 0.9;
}
.text_error1 {
    color:  var(--blue1);
    width: 20rem;
    height: 1.5rem;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    animation-name: caida;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.text_error2 {
    padding-top: 3rem;
    padding-bottom: 1rem;
    color: var(--blue);
    width: 35rem;
    height: 1.5rem;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    animation-name: caida;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes caida {
    0% {transform: scale(1);}
    30% {transform: scaleX(1.25) scaleY(0.75);}
    40% {transform: scaleX(0.75) scaleY(1.25);}
    60% {transform: scaleX(1.15) scaleY(0.85);}
    100% {transform: scale(1);}
}
.enlace_inicio {
    text-decoration: none;
    font-size: 1rem;
    color: var(--blue);
    margin: auto;
    padding-top: 1rem;
    font-weight: 700;
    padding-bottom: 2rem;
}
.enlace_inicio:hover {
    text-decoration: underline;
}
.footer a {
    padding-left: 1rem;
    text-decoration: none;
    font-size: 1rem;
    color: var(--blue);
    padding-right: 0.2rem;
}
.footer:hover a:hover {
    text-decoration: underline;
    color: var(--blue);
    font-size: 1.2rem;
}


