:root{
    --blue1:#3282b8 ;
    --white:#f2f6f5;
    --blue:#0779e4;
    --black: #1b262c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    background: var(--white);
    color: var(--black);
    font-family: 'Cinzel', serif;
}
.go-top {
    position:fixed;
    bottom: 6.25rem;
    right: 0;
    width: 3.1rem;
    height: 3.1rem;
    border: .125rem solid var(--blue1);
    border-radius: 50%;
    background: var(--white);
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
}
.go-top:hover{
    border: 0.12rem solid var(--black);
    background: var(--blue1);
}
.go-top:hover span{
    color: var(--black);
}
.go-top > span{
    font-size: 1.86rem;
    color: var(--black);
}
.main-header{
    background-color:var(--blue);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#header{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 3.7rem;
    background: var(--white);

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.menu .logo-box{
    margin-left: 1.25rem;
    margin-top: 1.5rem;
}
.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 1.86rem;
    font-weight: 800;
    color: var(--blue);  /* para escribir variables */
}
.menu .burger-menu {
    display: none;
}
.menu .list-container{
    margin-left: 20px;
}
.menu .list-container .lists{
    display: flex;
}
.menu .list-container .lists li{
    list-style: none;
}
.menu .list-container .lists li a{
    text-decoration: none;
    margin:0rem .62rem;
    padding: 0.5rem;
    color: var(--blue);
    border-radius: 1.5rem;
    font-size: 1rem;
    transition: 0.3s;
}
.menu .list-container .lists li a.activo{
    background: var(--blue);
    color:#fff;
}
.menu .list-container .lists li a:hover{
    background: var(--blue);
    color:#fff;
}
.burger-menu > .fab-bars{
    display: none;
}
.menu i {
    display: none;
}
.contenedor{
    width: 100%;
    /* max-width: 1000px; */
    margin: 20px 0px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3 , 1fr) ; /*para indicar cuantas col. se necesita */
    grid-template-rows: repeat(7, auto);

    grid-template-areas: "header header header"
                         "contenido contenido pfinal"
                         "diseno diseno pfinal"
                         "talla talla pfinal"
                         "c-completo c-completo c-completo"
                         "opiniones opiniones opiniones"
                         "pie-pag pie-pag pie-pag";              
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .diseno,
.contenedor .talla,
.contenedor .pfinal,
.contenedor .c-completo,
.contenedor .opiniones {
    background: var(--blue);
    padding: 20px;
    border-radius: 4px;
}
.contenedor .header{
    background: var(--blue);
    color:var(--black);
    grid-area: header;
    /* grid-column-start: 1;
    grid-column-end: -1; */
}
/* Paso 1 elige tu producto */
.contenedor .contenido{
    grid-area: contenido;
    background: var(--white);
}
.contenedor h1{
    font-size: 40px;
    color: var(--blue);
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}
.contenedor h2{
    font-size: 30px;
    color: var(--blue);
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}
.contenedor p{
    font-size: 20px;
    color: var(--blue);
    text-align: center;
}
.produc img{
    width: 150px;
    height:140px;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor:pointer;
    object-fit: cover;
    border-radius:20%;
    /* margin-left:50px; */
    display: row;
    justify-content: center;
}
/* Paso 2 elige tu diseño */
.contenedor .diseno{
    grid-area: diseno;
    background: var(--white);
}
.diseño img{
    width: 150px;
    height:140px;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor:pointer;
    object-fit: cover;
    border-radius:20%;
    /* margin-left:50px; */
    /* flex-direction: row; */
    text-align: center;
    
}
.diseno h2{
    font-size: 30px;
    color: var(--blue);
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}
.diseno p{
    font-size: 20px;
    color: var(--blue);
    text-align: center;
}
/* Paso 3 elige tu talla y color  */
.contenedor .talla{
    grid-area: talla;
    background: var(--white);
    margin-left: 3rem;
}
.talla h1{
    font-size: 40px;
    color: var(--blue);
    font-weight: 800;
    text-align: left;
    margin-bottom: 20px;
}
.talla h2{
    font-size: 30px;
    color: var(--blue);
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}
.talla p{
    font-size: 20px;
    color: var(--blue);
    text-align: center;
}
.talla label{
    color: var(--blue);
    margin-left: 50px;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    font-size: 18px;
    display: flex;
    justify-content: left;
}
.talla .tallas button{
    margin: .7rem;
    margin-top: -2rem;
    display: flex;
    margin-left: .5rem;
    position: relative;
}
.talla .tallas{
    width: 2rem;
    height: 2rem;
    font-size:1rem;
    margin-left: .5rem;
    font-weight: 800;
    text-align: center;
    background: white;
    cursor:pointer;
    border-radius: 20%;
    color:var(--blue);
    border: .1rem solid var(--blue);
}
.talla .color{
    margin: auto;
    display: flex;
    justify-content: center;
}
.talla .color button{
    margin: .7rem;
    margin-top: -2rem;
    border-radius: 20%;
    display: flex;
    position: relative;
}
.talla .color .white{
    width: 2rem;
    height: 2rem;
    background: white;
    display: flex;
    position: relative;
    cursor:pointer;
}
.talla .color .black{
    width: 2rem;
    height: 2rem;
    background: black;
    cursor:pointer;
    border: .1rem solid black;
}
.talla .color .grey{
    width: 2rem;
    height: 2rem;
    background: grey;
    position: relative;
    cursor:pointer;
    border: .1rem solid grey;
}
/* Visualiza tu prodcuto final */
.contenedor .pfinal{
    grid-column: 3 / 4;
    background: var(--blue1);
    /* text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; */
    min-height: 100px;
    grid-area: pfinal;
    width: 500px;
}
.pfinal h3{
    font-size: 30px;
    color: var(--white);
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}
.contenedor .pfinal .flotante{
    width: 300px;
    height: 300px;
    font-size: 30px;
    background: red;
    position: fixed;
    right: 10px;
    /* top:150px; */
    /* bottom: 450px; */
    margin: 10px 80px;
}
.contenedor .pfinal .flotante .flota img{
    width: 300px;
    height: 300px;
    /* right: 100px; */
    /* grid-area: pfinal; */
}
.pfinal button{
    width: 300px;
    height: 60px;
    background:linear-gradient(80deg, var(--blue), var(--white));
    border-radius: 24px;
    border: 1px solid var(--blue);
    outline: none;
    font-size:15px;
    font-weight: 700;
    color:var(--black);
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    align-content: right;
    font-family: 'Cinzel', serif;
    margin-top: 600px;
}
.pfinal >button:hover{
    transform: translateY(2px);
    box-shadow: 0px 30px 5px -15px rgba(0,0,0,0.3);
}
/* Catalogo completo */
.contenedor .c-completo{
    grid-area: c-completo;
    height: 20rem;
    background: var(--white);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0%;
}
.c-completo .left {
    display: flex;
    justify-content: left;
}
.left .iconLeft {
    width: 80%;
    height: 80%;
    margin: auto;     
}
.left .iconLeft:hover { 
    background-color: #c7c1c1;
    border-radius: 25%;
}
.c-completo .right {
    display: flex;
    justify-content: right;
}
.right .iconRight {
    width: 80%;
    height: 80%;
    margin: auto; 
}
.right .iconRight:hover { 
    background-color: #c7c1c1;
    border-radius: 25%;
}
.carrusel {
    width: 90%;
    /* overflow: hidden; desbordamiento de la seccion scroll: barras de desp, auto: barra ver,hidden: oculto */
    /* padding: 0px 0px; CUIDADO DANIEL */
    position: relative; /* a partir de bloque, absolute: a partir del margen, sticky: pagajoso*/
    margin: auto;
    overflow:hidden;
}
.carrusel__container {
    white-space: nowrap;
    margin: auto;
    padding-bottom: 10px; /* Espacio abajo, right, left top */
    width: 300%;
    display: flex;
}
.carrusel-item{
    background-color: none;
    width: auto;
    height: 300px;
    overflow: hidden;
    display: inline-block;
    margin-right: 15px;
    cursor: auto;
    transition: 450ms all;
    transform-origin: center left;
    border-radius: 10px;
    list-style: none;
}
.carrusel-item:hover ~ .carrusel-item img{
    transform: translate3d(50px,0,0); /* Hace que se recorra la imagen para mostrar la principal */
}
.carrusel__container:hover .carrusel-item img {
    opacity: 0.5; /*el elemento secundario tiene esta opacidad*/
}
.carrusel__container:hover .carrusel-item:hover img{
    transform: scale(1.2); /* define el tamaño del bloque que crecera */
    opacity: 1;
    border-radius: 10px;
}
.carrusel-item img{
    width: 180px;
    height:140px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor:pointer;
    object-fit: cover;    
}
.carrusel-item h3{
    font-size: 25px;
    text-align: center;
    color: var(--blue1);
    margin-bottom: 1px;
    margin-top:3px;
}
.carrusel-item p{
    color: var(--blue1);
    text-align: center;
    margin-top: 2px;
}
.carrusel__container .carrusel-item >button{
    width: 120px;
    height: 40px;
    background:linear-gradient(80deg, var(--blue), var(--white));
    border-radius: 24px;
    border: 1px solid var(--blue);
    outline: none;
    font-size: 10px;
    font-weight: 700;
    color:var(--black);
    text-align: center;
    margin-top: 10px;
    margin-left:20px;
    cursor: pointer;
    transition: 0.2s;
    align-content: right;
    font-family: 'Cinzel', serif;
}
.carrusel__container .carrusel-item >button:hover{
    transform: translateY(2px);
    box-shadow: 0px 30px 5px -15px rgba(0,0,0,0.3);
}
/* Opiniones */
.contenedor .opiniones{
    background: var(--white);
    color: var(--black);
    height: 45rem;
    padding: 3em 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: opiniones;
}
.contenedor .opiniones .Testimonio {
    width: 100%;
}
.Testimonio .test-title h2{
    font-size: 2.5rem;
    color: var(--blue);
    margin-bottom: 3rem;
}
.Testimonio .containerT{
    /* max-width: 50rem; */
    width: 55%;
    margin:auto;
    height: 20rem;
    margin-top: 1.5rem;
    margin-bottom: 2.7rem;
    position: relative;
    background: var(--white);
    text-align: center;
    padding: 3em 0;
    overflow: hidden;
    border-radius: 2.5rem;
    border: solid .125rem var(--blue1);
    opacity: 0.9;
}
.Testimonio .containerT h2{
    margin: 0;
    font-size: 1.86rem;
    font-weight: 100;
    color: var(--blue);
}
.Testimonio .containerT hr{
    width: 60%;
    border-style: dashed;
    color: var(--blue);
    margin: auto;
    margin-top: 1.5rem;
}
.Testimonio .containerT .slides{
    display: flex;
    width: 300%;
    padding-top: 1.25rem;
    padding-bottom: 1.5rem;
    overflow: hidden;
    list-style: none;
    position: relative;
    transition: all .8s cubic-bezier(1,0,0,1); 
}
.Testimonio .containerT .slides li {
    width: 33.3%;
    list-style: none;
    position: relative;
    float: left;
}
.Testimonio .containerT .slides li img{
    width: 2.7rem;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: .62rem;
}
.Testimonio .containerT li span.author{
    margin-top: 1.25rem;
    font-size: 1.12rem;
    font-weight: 100;
    color: var(--blue);
    display: block;
}
/* .Testimonio .containerT input {
    display: block;
} */
.Testimonio .containerT .b-opinion{
    display: flex;
    flex-direction: row;
    width: 15%;
    margin:auto;
    position: relative;
    justify-content: space-around;
}
.Testimonio .containerT .b-opinion button{
    font-size: .5rem;
    display: flex;
    position: relative;
    /* background: var(--blue); */
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
.Testimonio .containerT .b-opinion .opione .onclick{
    background: blue;
}
/* .Testimonio .navigation{
    margin-top: 1rem;
    display: block;
    list-style: none;
    text-align: center;
    border: 2.5rem;
    position: relative;
    width: 6.4rem;
    margin: auto;
}
.Testimonio .navigation label {
    float: left;
    margin: .37rem;
    display: block;
    height: 0.62rem;
    width: 0.62rem;
    border-radius: 50%;
    border: solid .125rem var(--blue);
}
#radio1:checked ~ .slides {
    transform: translateX(0%);
}
#radio2:checked ~ .slides {
    transform: translateX(-33.3%);
}
#radio3:checked ~ .slides {
    transform: translateX(-66.6%);
}
.navigation label:hover {
    cursor:pointer;
}
#radio1:checked ~ .navigation label#radioSelect1,
#radio2:checked ~ .navigation label#radioSelect2,
#radio3:checked ~ .navigation label#radioSelect3 {
    background: var(--blue1);
} */
/* .containerT ul{
    animation: cambio 10S infinite;
}
.slider ul:hover{
    animation-play-state: paused;
    cursor: pointer;
}
@keyframes cambio{
    0%{ margin-left: 0%;}
    33%{ margin-left: 0%;}

    34%{ margin-left: -100%;}
    66%{ margin-left: -100%;}

    67%{ margin-left: -200%;}
    100%{ margin-left: -200%;}
} */
/* Footer */
.contenedor .pie-pag{
    grid-area: pie-pag;
   
}
.pie-pag .footer-text{
    position: relative;
    bottom:0px;
    left: 0;
    width: 350%;
    height: 40px;
    background: rgba(0,0,0,0.9);
    border-top: 5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
    margin-left: -20px;
}
.pie-pag  .footer-text p{
    color: var(--white);
    font-size: 20px;
}
.pie-pag .footer-text a{
    color: var(--white);
    font-size: 18px;
    margin-left: 4px;
    margin-right: 5px;
}
@media screen and (max-width:768px){
    .contenedor{
        grid-template-areas: "header header header"
                         "contenido contenido contenido"
                         "pfinal pfina pfinal"
                         "diseno diseno diseno"
                         "talla talla talla"
                         "c-completo c-completo c-completo"
                         "opiniones opiniones opiniones"
                         "footer footer footer";
    }
}
@media only screen and (max-width:900px){
    .burger-menu > .fa-bars{
        display: block;
        position: absolute;
        top: 1.25rem;
        right: 1rem;
        font-size: 2rem;
        cursor: pointer;
    }
    .burger-menu > .fa-bars:hover {color:var(--blue);}
    .burger-menu > fa-times {color:var(--blue);}
    .menu .list-container{
        position: absolute;
        top: 3.5rem;
        left:-1.25rem;
        width:100%;
        height: calc(100vh-60px);
        background: #fff;
    }
    .menu .list-container .lists{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: .31rem solid var(--blue1);
    }
    .menu .list-container .lists li{
        width: 90%;
        margin: .62rem 0rem;
        border-bottom: .063rem solid var(--blue1);
        text-align: center;
    }
    .menu .list-container .lists li a{
        font-size: 1.25rem;
    }
    .menu .list-container .lists li a.active{
        background: none;
        color: var(--blue1);
    }
    .menu .list-container .lists li a:hover{
        background: none;
        color: var(--blue1);
    }
}
.pie-pag .social .fab{
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size:2rem;
}
.pie-pag .social{
    position: fixed;
    left: -15px;
    top:500px;
}
.pie-pag .social ul{
    list-style: none;
}
.pie-pag .social i{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    padding: 10px 15px;
    z-index: 0;
    transition: 0.01s ease;
}
.pie-pag .social .fa-facebook-f{
    background: #3b5998;
    border-top-right-radius: 20%;
    color: var(--white);
}
.pie-pag .social .fa-whatsapp{
    background: #25d366;
    border-bottom-right-radius: 20%;
    color: var(--white);
}
.pie-pag .social i:hover{
    padding:10px 25px;
}



