.header{
    margin: auto;
    margin-top: 5%;
    background-color: aqua;
    color: black;
}
body > div > div {
    width: 30%;
    height: 50%;
    margin: auto;
}
.aparece{
    width: 12%;
    object-fit: cover;
    opacity: 1;
    border-radius: 30px;
    position: absolute;
    top:100px
}
.aparece2{
    width: 12%;
    object-fit: cover;
    opacity: 1;
    border-radius: 30px;
    top:250px;
    position: absolute;
}
.aparece3{
    width: 12%;
    object-fit: cover;
    opacity: 1;
    border-radius: 50px;
    top:350px;
    position: absolute;
}