.header{
    margin: auto;
    margin-top: 5%;
    background-color: aqua;
    color: black;
}
body > div > div {
    width: 30%;
    height: 50%;
    margin: auto;
}
.aparece{
    width: 100%;
    object-fit: cover;
    opacity: 0;
}