/* Paso 3 elige tu talla y color  */
.talla {
    display: flex;
    flex-wrap: wrap;
}
.talla h2{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}
.talla p{
    width: 100%;
    font-size: 20px;
    text-align: center;
}
.size {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.color {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
}