:root{
    --blue1:#3282b8 ;
    --white:#f2f6f5;
    --blue:#0779e4;
    --black: #1b262c;
}

body{
    font-family: 'Cinzel', serif;
    width: 100%;
    height: 650px;
    background: var(--white);
    /* background-image: url(img/fondo.jpg); */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.go-top {
    position:fixed;
    bottom: 100px;
    right: 0;
    width: 50px;
    height: 50px;
    border: 2px solid var(--blue1);
    border-radius: 50%;
    background: var(--white);
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
}
.go-top:hover{
    border: 2 px solid var(--black);
    background: var(--blue1);
}
.go-top:hover span{
    color: var(--black);
}
.go-top > span{
    font-size: 30px;
    color: var(--black);
}
.main-header{
    background-color:var(--blue);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.red-text{
    color:var(--blue);
    font-size: 50px;
    font-weight: 700;
    margin-top: 100px;
}
#header{
    position: relative;
    width: 100%;
}
.menub{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--white);

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.menub .logo-box{
    margin-left: 20px;
}
.menub .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 800;
    color: var(--blue);  /* para escribir variables */
}
.menub .list-container{
    margin-left: 20px;
}
.menub .list-container .lists{
    display: flex;
}
.menub .list-container .lists li{
    list-style: none;
}
.menub .list-container .lists li a{
    text-decoration: none;
    margin:0px 10px;
    padding: 8px;
    color: var(--blue);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}
.menub .list-container .lists li a.activo{
    background: var(--blue);
    color:#fff;
}
.menub .list-container .lists li a:hover{
    background: var(--blue);
    color:#fff;
}
.btn-menu > .fab-bars{
    display: none;
}
.product{
    width: 100%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;  
}
.card{
    margin: 20px;
    margin-left: 40px;
    margin-right: 20px;
    width: 23%;
    height: 270px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 1px 3px var(--blue1), 0 1px 2px var(--blue1);
    border-radius: 30px;
    background-color: #ebebeb;
    opacity: 0.96;
    padding-right: 25px;
    
}
.productos .product img{
    width: 180px;
    height:140px;
    cursor:pointer;
    object-fit: cover;
    border-radius: 10%;
}
.productos .product h3{
    font-size: 25px;
    text-align: center;
    color: var(--blue1);
    margin-bottom: 1px;
    margin-top:1px;
}
.productos .product p{
    color: var(--blue1);
    text-align: center;
    margin-top: 2px;
}
.product .card >button{
    width: 120px;
    height: 40px;
    background:linear-gradient(80deg, var(--blue), var(--white));
    border-radius: 24px;
    border: 1px solid var(--blue);
    outline: none;
    font-size: 10px;
    font-weight: 700;
    color:var(--black);
    text-align: center;
    margin-top: -20px;
    cursor: pointer;
    transition: 0.2s;
    align-content: right;
    font-family: 'Cinzel', serif;
}
.product .card >button:hover{
    transform: translateY(2px);
    box-shadow: 0px 30px 5px -15px rgba(0,0,0,0.3);
}
.Testimonio .test-title h2{
    font-size: 2.5rem;
    color: var(--blue);
    margin-top: 10rem;
}
.Testimonio .containerT{
    max-width: 45rem;
    margin:auto;
    height: 16rem;
    margin-top: 2.5rem;
    margin-bottom: 2.7rem;
    position: relative;
    background: var(--white);
    text-align: center;
    padding: 3em 0;
    overflow: hidden;
    border-radius: 2.5rem;
    border: solid .125rem var(--blue1);
    opacity: 0.9;
    
}
.Testimonio .containerT h2{
    margin: 0;
    font-size: 1.86rem;
    font-weight: 100;
    color: var(--blue);
}
.Testimonio .containerT hr{
    width: 60%;
    border-style: dashed;
    color: var(--blue);
    margin-top: 1.86rem;
    margin-left: 8.5rem;    
}
.Testimonio .containerT .slides{
    width: 400%;
    left: 0;
    padding-left: 0;
    padding-top: 1.25rem;
    overflow: hidden;
    list-style: none;
    position: relative;
    transition: all .8s cubic-bezier(1,0,0,1);
}
.Testimonio .slides li{
    width: 25%;
    position: relative;
    float: left;
}
.Testimonio .containerT li q{
    max-width: 90%;
    margin: auto;
    color: var(--blue);
    font-size: 1.25rem;
    font-weight: bold;
}
.Testimonio .containerT li img{
    width: 2.7rem;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: .62rem;
}
.Testimonio .containerT li span.author{
    margin-top: 1.25rem;
    font-size: 1.12rem;
    font-weight: 100;
    color: var(--blue);
    display: block;
}
.Testimonio .navigation{
    display: block;
    list-style: none;
    text-align: center;
    border: 2.5rem;
    position: absolute;
    width: 6.4rem;
    left: 50%;
    margin-left: -2.125rem;
}
.Testimonio .containerT input {
    display: none;
}
.Testimonio .navigation label {
    float: left;
    margin: .37rem;
    display: block;
    height: .62rem;
    width: .62rem;
    border-radius: 50%;
    border: solid .125rem var(--blue);
}
#radio1:checked ~ .slides {
    transform: translateX(0%);
}
#radio2:checked ~ .slides {
    transform: translateX(-25%);
}
#radio3:checked ~ .slides {
    transform: translateX(-50%);
}
.navigation label:hover {
    cursor:pointer;
}
#radio1:checked ~ .navigation label#radioSelect1,
#radio2:checked ~ .navigation label#radioSelect2,
#radio3:checked ~ .navigation label#radioSelect3 {
    background: var(--blue1);
}
.footer .footer-text{
    position: relative;
    bottom:0px;
    left: 0;
    width: 100%;
    height: 40px;
    background: rgba(0,0,0,0.9);
    border-top: 5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.footer  .footer-text p{
    color: var(--white);
    font-size: 20px;
}
.footer .footer-text a{
    color: var(--white);
    font-size: 18px;
    margin-left: 4px;
    margin-right: 5px;
}
@media only screen and (max-width:900px){
    .btn-menu > .fa-bars{
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 28px;
        cursor: pointer;
    }
    .btn-menu > .fa-bars:hover {color:var(--blue);}
    .btn-menu > fa-times {color:var(--blue);}
    .menub .list-container{
        position: absolute;
        top: 60px;
        left:-1000px;
        width:100%;
        height: calc(100vh-60px);
        background: #fff;
    }
    .menub .list-container .lists{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 5px solid var(--blue1);
    }
    .menub .list-container .lists li{
        width: 90%;
        margin: 10px 0px;
        border-bottom: 1px solid var(--blue1);
        text-align: center;
    }
    .menub .list-container .lists li a{
        font-size: 20px;
    }
    .menub .list-container .lists li a.active{
        background: none;
        color: var(--blue1);
    }
    .menub .list-container .lists li a:hover{
        background: none;
        color: var(--blue1);
    }
}
.footer .social .fab{
    width: 25px;
    height: 25px;
    text-align: center;
    font-size:30px;
}
.footer .social{
    position: fixed;
    left: -40px;
    top:500px;
}
.footer .social ul{
    list-style: none;
}
.footer .social i{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    padding: 10px 15px;
    z-index: 0;
    transition: 0.01s ease;
}
.footer .social .fa-facebook-f{
    background: #3b5998;
    border-top-right-radius: 20%;
    color: var(--white);
}
.footer .social .fa-whatsapp{
    background: #25d366;
    border-bottom-right-radius: 20%;
    color: var(--white);
}
.footer .social i:hover{
    padding:10px 25px;
}
